/*----------------------------------------*\
  BUTTON
\*----------------------------------------*/

.btn {
  @apply px-4 py-2;
  @apply text-white bg-red-500;
  @apply rounded transition-250;

  &:hover {
    @apply bg-red-400;
  }
}
