/*----------------------------------------*\
  BUTTON
\*----------------------------------------*/

.btn {
  @apply px-4 py-2;
  @apply text-white bg-gray-700;
  @apply rounded transition-250;

  &:hover {
    @apply bg-gray-600;
  }
}
