/*----------------------------------------*\
  MAIN
\*----------------------------------------*/


/**
* Tailwind
*/
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


/**
* Settings
*/
@import "settings/variables.postcss";


/**
* Base
*/
@import "base/elements.postcss";


/**
* Objects
*/
@import "objects/container.postcss";
@import "objects/grid.postcss";


/**
* Components
*/
@import "components/button.postcss";
